<h1>Welcome to the page</h1>
<table style="background-color: rgb(108, 110, 239);">
  <thead>
    <tr>
      <th style="padding: 1rem; font-size: 1.5rem">ID</th>
      <th style="padding: 1rem; font-size: 1.5rem">Name</th>
      <th style="padding: 1rem; font-size: 1.5rem">Code</th>
      <th style="padding: 1rem; font-size: 1.5rem">Price</th>
      <th style="padding: 1rem; font-size: 1.5rem">Stock</th>
      <th style="padding: 1rem; font-size: 1.5rem">Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr style="text-align: center;">
        <td style="padding: 0.7rem;">{{_id}}</td>
        <td style="padding: 0.7rem;">{{name}}</td>
        <td style="padding: 0.7rem;">{{code}}</td>
        <td style="padding: 0.7rem;">${{price}}</td>
        <td style="padding: 0.7rem;">{{stock}}</td>
        <td style="padding: 0.7rem;">{{description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<a href="/api/views/logout" style="padding: 50%;"><button
    type="button"
    style="padding: 0.5rem;"
  >Log Out</button></a>